<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for your interest in contacting Michael's Magazine, <%= @name %></h1>
    <p>
      Please give us some time to field your question. We will get back to you shortly.<br>
    </p>
    <p>
      Thanks,
    </p>
    <p>
      Michael
    </p>
  </body>
</html>