<div class="container-inner">


	<div class="post">
        <div class="post_title"><%= @post.title %></div>
	  	<div class="post_text"><%= @post.text %></div>
	  	<div class="post_edit"><%= link_to 'Edit', edit_post_path(@post) %></div>
	 </div>

	 <div class="post_btn">
		<%= link_to 'Back', posts_path %>
	</div>
</div>