$primary-color: rgb(0,0,0);

html {
		font-family: courier;
		background-color: #000;
}

body {
		font-family: courier;
		margin: 10px;
		background-color: #eee;
}


footer {
	width: 100%;
	height: 60px;
	background-color: #eee;
	color: #000;
	line-height: 60px;
	text-align: center;
	-webkit-box-shadow: 0px 5px 10px 10px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    0px 5px 10px 10px rgba(0, 0, 0, 0.75);
	box-shadow:         0px 5px 10px 10px rgba(0, 0, 0, 0.75);
}

header {
	width: 100%;
	background-color: rgba(0,0,0,.2)

}

.landing_header{
	width: 100%;
	text-align: center;
	background-color: #000;
	line-height: 2em;
	width: 100%;
	padding: 0 auto;
	color: #fff;
	font-size: 3em;
	a {
		color: #fff;
	}
	&:hover {
		background-color: #d43f3a;
	}
}

.mag_thumb {
	height: 300px;
}

.jumbotron {
	padding: 0;
	background-color: #eee;
	p {
		color: $primary-color;
		font-family: courier;
	}
	h1 {
		color: $primary-color;
		margin-top: 0px;
	}
	.container {
		background-color: rgba(255,255,255,.5);
		margin-top: 0px;
		padding: 50px 25px;
	}
}

.jumbotron:first-of-type {
	padding-top: 50px;
	border-right: 10px solid #000;
	border-left: 10px solid #000;
	.container {
		background-color: #fff;
	}
}

.container {
	padding-top: 50px;
	h1 {
		font-size: 63px;
	}
	p {

	}
}

.container-inner {
	max-width: 1200px;
	padding: 100px 20px;
	margin: 0 auto;
	background-color: #fff;
}

.btn {
	border-radius: 0px;
	border: 0px;

}

.navbar-default {
	border-top: 10px solid #000;
	border-right: 10px solid #000;
	border-left: 10px solid #000;
}

.logo-sm {
	z-index: 50;
	height: 70px;
	width: 70px;
	background-color: $primary-color;
	border-radius: 35px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 5px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 5px 10px 0px rgba(0, 0, 0, 0.75);
}

.logo-sm:hover {
	background-color: #d43f3a;
}

.btn-danger {
	background-color: $primary-color;
}

.navbar-collapse {
	text-align: right;
}

.product-outer {
	padding: 0px;		
}

.spotlight {
	margin-top: 0px;
	background-color: #fff;
}

.navbar-nav > li:hover {
	background-color: #d43f3a;
} 